<% layout('layouts/boilerplate')%>
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    
    <main class="px-3">
        <h1>What to expect next</h1>
        <p class="lead"> Make your build in the web!
        </p>
        
        <p class="lead">
            More builds and more users/reviews.
        </p>

        <p class="lead">
            A self-training mobile app.
        </p>

        <p class="lead">
            Record results and functionalities like Hearth Arena. Unfortunately this may not seem likely for warhammer II:
            I read the files and logs, it seems that CA is only storing battle results in the server side. However, if you know 
            how to get this information, please let me know and I really appreciate it. Hopefully we can make it in warhammer III.
        </p>

        
    </main>