
<% layout('layouts/boilerplate')%>
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    
    <main class="px-3">
        <h1>A few word about this website</h1>
        <p class="lead"> This website is mainly for new players interested in totalwar warhammer pvp.
            If you are an expert, welcome to give advice and upload your favourite builds, but please try not to blame beginners. As you may find out,
            the builds I uploaded are easy to understand and operate, but may not be the 'best' build for competitions as you would expect. I believe 
            that the more new players we attract, the more exciting this game is!
        </p>
        
        <p class="lead">
            For beginners: There are about 15 races in warhammer II, hopefully more in warhammer III. Each 
            race have tens of different units, with each unit tens of attributes. This seems very confusing
             and probably frightening, and is easy to drive beginners away. But it's ok: you don't need to 
             remember these all. As long as you get the mainstream, you will be good to win in battle with others,
             and hopefully get to top 300 rank in several weeks like me. (I know this is not a big goal, but as 
             I said, this is something for beginners. After getting to this level, you probably need to play due
             to your own understanding, that's beyond this website somehow.)
        </p>

        <p class="lead">
            The first thing I wat to say is the importance of a good build. It's actually more than 50 percent
            in a game. Also please note that some builds are good, but not beginner friendly. I copied a lot from 
            famous players, but was losing all the time, ranking in 30000-40000. After I realized I was not ready 
            for those advanced builds and tried easier ones that is my level, I quickly got to top 300. I also beat 
            famous players simply because my build had a great advantage. It's far more important than operation, at 
            least in the beginning level. You can play well even if you have difficulty in operation: my apm is 2 or 3 on 
            average, but it doesn't matter.
        </p>

        <p class="lead">
            The first thing I wat to say is the importance of a good build. It's actually more than 50 percent
            in a game. Also please note that some builds are good, but not beginner friendly. I copied a lot from 
            famous players, but was losing all the time, ranking in 30000-40000. After I realized I was not ready 
            for those advanced builds and tried easier ones that is my level, I quickly got to top 300. I also beat 
            famous players simply because my build had a great advantage. It's far more important than operation, at 
            least in the beginning level. You can play well even if you have difficulty in operation: my apm is 2 or 3 on 
            average, but it doesn't matter.
        </p>

        <p class="lead">
            Short Notes:
            <div>1. Use and protect your Lord/hero well! Kill enemy Lord/hero/mage quickly if possible. </div>

            <div>2. Control the most important troops, usually the most expensive ones. If they survive and attack at a good chance, you probably win.</div>

            <div>3. Try to give your enemy pressure, like siege or hit & run. Shoot or use spells to weaken enemy before decisive battle.</div>

            <div>4. Win and get confidence!</div>

            <div>5. Be patient and keep calm above all!</div>
        </p>
    </main>
<!-- <div class="row">
    <td align="left" class="no_hover">
        <div class="rome2_unit_icon_crop">

<span class="unit_bottom_text"><a href="#" onclick=displayDate()"></a><img src="https://www.honga.net/totalwar/warhammer2/gen_images/unit_icon/warhammer2/wh2_dlc15_grn_bonerattlaz/wh2_twa01_grn_cha_goblin_great_shaman_3.png"></span>

</div> -->

<!-- <div class="cardPage ui_content_inner">
    
    <div id="container">
        <div class="wraperCon">
            <div class="wraperConArea">
                <div class="cards_tools_ds">
                    <h2>卡牌工具<a href="/article/13/10519" target="_blank" style="margin-left: 10px;">新版说明</a></h2>
                    <p>完成套牌构筑或导入套牌后，点击【保存】按钮即可查看网页地址以及<a href="https://hs.blizzard.cn/article/16/9670" target="_blank">游戏内套牌代码</a>。</p>
                    <div class="login_wrap">
                        <p><a href="https://account.blizzard.cn/battlenet/login?inner_client_id=hs&amp;inner_redirect_uri=https%3A%2F%2Fhs.blizzard.cn%2Fbattlenet%2Flogin%3Fredirect_url%3Dhttps%253A%252F%252Fhs.blizzard.cn%252Fcards" class="login_btn">登录</a>即可额外使用【我的套牌库】功能</p>
                    </div>
                </div>
                <div id="cards_wraper" class="standard">
                    <div id="guideWrap"><div id="showGuide"><a href="javascript:void(0);" class="closeGuide">关闭</a></div></div>
                    <div class="cards_main clearFix">
                        <div id="cards_data">
                            <a href="javascript:void(0)" class="goldenCheck"><span></span>显示金卡</a>
                            <ul class="tabs_hero clearFix">
                                <li class="tab_hero_demonhunter" rel="demonhunter" style="display: none;">
                                    <a href="javascript:void(0);"></a>
                                </li>
                                <li class="tab_hero_druid" rel="druid" style="display: none;">
                                    <a href="javascript:void(0);"></a>
                                </li>
                                <li class="tab_hero_hunter" rel="hunter" style="display: none;">
                                    <a href="javascript:void(0);"></a>
                                </li>
                                <li class="tab_hero_mage" rel="mage" style="display: none;">
                                    <a href="javascript:void(0);"></a>
                                </li>
                                <li class="tab_hero_paladin" rel="paladin" style="display: none;">
                                    <a href="javascript:void(0);"></a>
                                </li>
                                <li class="tab_hero_priest" rel="priest" style="display: none;">
                                    <a href="javascript:void(0);"></a>
                                </li>
                                <li class="tab_hero_rogue active" rel="rogue" style="display: list-item;">
                                    <a href="javascript:void(0);"></a>
                                </li>
                                <li class="tab_hero_shaman" rel="shaman" style="display: none;">
                                    <a href="javascript:void(0);"></a>
                                </li>
                                <li class="tab_hero_warlock" rel="warlock" style="display: none;">
                                    <a href="javascript:void(0);"></a>
                                </li>
                                <li class="tab_hero_warrior" rel="warrior" style="display: none;">
                                    <a href="javascript:void(0);"></a>
                                </li>
                                <li class="tab_hero_neutral" rel="neutral" style="display: list-item;">
                                    <a href="javascript:void(0);"></a>
                                </li>
                            </ul>
                            <p class="tab_over"></p>
                            <h3>潜行者</h3>
                            <div id="cards_box">
                                <div class="cards_box_border clearFix" style="left: 0px;"><div class="cards_box_wraper clearFix"><div class="cards_place"><a class="cards_link" data-name="伺机待发" data-cardset="core" data-id="69623" data-params="rogue,69623,0,0" href="javascript:void(0);" rel="https://hearthstone.nosdn.127.net/hearthstone/05420818fbb9e2333767763f4630e94db67499e1fdb16dcf86f6590ee141229b.png"><img class="imgload" src="https://hearthstone.nosdn.127.net/3/cards/cards_loading.gif" style="display: none;"><img class="card_img" alt="伺机待发" src="https://hearthstone.nosdn.127.net/hearthstone/05420818fbb9e2333767763f4630e94db67499e1fdb16dcf86f6590ee141229b.png" style="display: inline;"></a><div class="cards_detail_wraper"><div class="cards_detail"><h4 class="cardName">伺机待发</h4><p class="cardFlavorText">“随时准备伺机待发。”——潜行者座右铭</p><p class="cardText">在本回合中，你所施放的下一个法术的法力值消耗减少（2）点。</p><ul class="attributesList"><li>类型：<span>法术</span></li><li>稀有度：<span>史诗</span></li><li>系列：<span>《核心》</span></li><li>职业：<span>潜行者</span></li><li>制作费用：<span>400 / 1600 (金卡)</span></li><li>分解的价值：<span>100 / 400 (金卡)</span></li><li>画家：<span class="Artist">Clint Langley</span></li><li>可收集</li></ul></div></div><a class="cards_zoom" rel="https://hearthstone.nosdn.127.net/hearthstone/05420818fbb9e2333767763f4630e94db67499e1fdb16dcf86f6590ee141229b.png" href="javascript:void(0);" style="bottom:0;"></a></div><div class="cards_place"><a class="cards_link" data-name="暗影步" data-cardset="core" data-id="69622" data-params="rogue,69622,0,0" href="javascript:void(0);" rel="https://hearthstone.nosdn.127.net/hearthstone/528d9e0d484a9070b44b92b7f7477b7c716861904acfa05f845e1899c80e55e5.png"><img class="imgload" src="https://hearthstone.nosdn.127.net/3/cards/cards_loading.gif" style="display: none;"><img class="card_img" alt="暗影步" src="https://hearthstone.nosdn.127.net/hearthstone/528d9e0d484a9070b44b92b7f7477b7c716861904acfa05f845e1899c80e55e5.png" style="display: inline;"></a><div class="cards_detail_wraper"><div class="cards_detail"><h4 class="cardName">暗影步</h4><p class="cardFlavorText">潜行者的攻击有如舞蹈，有时他们会以暗影步结束这一切。这不是什么终结技，只因为观众喜欢这样子。</p><p class="cardText">将一个友方随从移回你的手牌，它的法力值消耗减少 （2）点。</p><ul class="attributesList"><li>类型：<span>法术</span></li><li>法术派系：<span>暗影</span></li><li>稀有度：<span>普通</span></li><li>系列：<span>《核心》</span></li><li>职业：<span>潜行者</span></li><li>制作费用：<span>40 / 400 (金卡)</span></li><li>分解的价值：<span>5 / 50 (金卡)</span></li><li>画家：<span class="Artist">Graven Tung</span></li><li>可收集</li></ul></div></div><a class="cards_zoom" rel="https://hearthstone.nosdn.127.net/hearthstone/528d9e0d484a9070b44b92b7f7477b7c716861904acfa05f845e1899c80e55e5.png" href="javascript:void(0);" style="bottom:0;"></a></div><div class="cards_place"><a class="cards_link" data-name="背刺" data-cardset="core" data-id="69521" data-params="rogue,69521,0,0" href="javascript:void(0);" rel="https://hearthstone.nosdn.127.net/hearthstone/870af35330507eb336f26b72fbc636bb2ffd5037b54b73d185635466fef13871.png"><img class="imgload" src="https://hearthstone.nosdn.127.net/3/cards/cards_loading.gif" style="display: none;"><img class="card_img" alt="背刺" src="https://hearthstone.nosdn.127.net/hearthstone/870af35330507eb336f26b72fbc636bb2ffd5037b54b73d185635466fef13871.png" style="display: inline;"></a><div class="cards_detail_wraper"><div class="cards_detail"><h4 class="cardName">背刺</h4><p class="cardFlavorText">大叫着“看那儿！”，然后让你的对手背对着你，这一招总是出奇地有效。</p><p class="cardText">对一个未受伤的随从造成 2点 伤害。</p><ul class="attributesList"><li>类型：<span>法术</span></li><li>稀有度：<span>普通</span></li><li>系列：<span>《核心》</span></li><li>职业：<span>潜行者</span></li><li>制作费用：<span>40 / 400 (金卡)</span></li><li>分解的价值：<span>5 / 50 (金卡)</span></li><li>画家：<span class="Artist">Michael Sutfin</span></li><li>可收集</li></ul></div></div><a class="cards_zoom" rel="https://hearthstone.nosdn.127.net/hearthstone/870af35330507eb336f26b72fbc636bb2ffd5037b54b73d185635466fef13871.png" href="javascript:void(0);" style="bottom:0;"></a></div><div class="cards_place"><a class="cards_link" data-name="偷师学艺" data-cardset="forged-in-the-barrens" data-id="62894" data-params="rogue,62894,1,0" href="javascript:void(0);" rel="https://hearthstone.nosdn.127.net/hearthstone/706b270797e7e580dcb972340bc942adf6e1786136083aaed6fb590fe4d1bed4.png"><img class="imgload" src="https://hearthstone.nosdn.127.net/3/cards/cards_loading.gif" style="display: none;"><img class="card_img" alt="偷师学艺" src="https://hearthstone.nosdn.127.net/hearthstone/706b270797e7e580dcb972340bc942adf6e1786136083aaed6fb590fe4d1bed4.png" style="display: inline;"></a><div class="cards_detail_wraper"><div class="cards_detail"><h4 class="cardName">偷师学艺</h4><p class="cardFlavorText">出来偷，总是要还的。</p><p class="cardText"><b>发现</b>一个英雄技能，并使其法力值消耗变为（0）点。使用两次后换回。</p><ul class="attributesList"><li>类型：<span>法术</span></li><li>稀有度：<span>史诗</span></li><li>系列：<span>《贫瘠之地的锤炼》</span></li><li>职业：<span>潜行者</span></li><li>制作费用：<span>400 / 1600 (金卡)</span></li><li>分解的价值：<span>100 / 400 (金卡)</span></li><li>画家：<span class="Artist">Ivan Fomin</span></li><li>可收集</li></ul><div class="keywordsView"><p>了解更多：</p><div class="keywordsList"><a href="javascript:;" data-text="在三张卡牌中选择其一置入你的手牌。">发现</a></div></div><div class="relatedCardsView"><p>衍生卡牌：</p><div class="relatedCardsList"><a href="javascript:;" data-image="https://hearthstone.nosdn.127.net/hearthstone/08878e66d9ec05097f7686f318d87be71a1a14b5f16a337a6715fd06fa594e9b.png">稳固射击</a><a href="javascript:;" data-image="https://hearthstone.nosdn.127.net/hearthstone/3eafe1e985537cccb1d78b091118a04d688e2d58db20b1d7a354d3aca43386b4.png">生命分流</a><a href="javascript:;" data-image="https://hearthstone.nosdn.127.net/hearthstone/43458a43b2af9cb6334f8ca3b7ad5753d6cffc51362160b3ea9090fd254f4d6a.png">援军</a><a href="javascript:;" data-image="https://hearthstone.nosdn.127.net/hearthstone/f3d57ccf7208ea63db6883c2ac3569a733b7ec97680106e984497d7c53ea340f.png">次级治疗术</a><a href="javascript:;" data-image="https://hearthstone.nosdn.127.net/hearthstone/ba5a1025cd808ad41c880a60a47851ef3bcae941db103052abb5c5d18e11dbf7.png">邪恶短刀</a><a href="javascript:;" data-image="https://hearthstone.nosdn.127.net/hearthstone/4a95c59af698cb6a21ce30e098b629683a101f80e9984d044255ca6618f5ab10.png">图腾召唤</a><a href="javascript:;" data-image="https://hearthstone.nosdn.127.net/hearthstone/ddc0ab3edbcf43c760354604cc841e0b9349d615ad8b9e78b3a7cca353c2f74f.png">全副武装！</a><a href="javascript:;" data-image="https://hearthstone.nosdn.127.net/hearthstone/a21f94530aa1832be43f4a6ffbfd4bcb143150120107966f8af891ed1e2c0543.png">匕首精通</a><a href="javascript:;" data-image="https://hearthstone.nosdn.127.net/hearthstone/19952e2035f648a8f4ad3a43674584b304cf1ccb2c5ac0818f13dd1b46ae274e.png">火焰冲击</a><a href="javascript:;" data-image="https://hearthstone.nosdn.127.net/hearthstone/a18836bdd079a7014750d4e1899e453f8d3be616f6d576b30a40f9f09b8a971b.png">变形</a><a href="javascript:;" data-image="https://hearthstone.nosdn.127.net/hearthstone/e3039c3202328aa9484d6279c1a9a924d4fc96c811c700d183c4370c67feb7b2.png">白银之手新兵</a><a href="javascript:;" data-image="https://hearthstone.nosdn.127.net/hearthstone/f1a21d2ddb7ce1b0561f3f52c7fedcfc86d53881b6702501b7ebe2dd65de4edd.png">恶魔之爪</a></div></div></div></div><a class="cards_zoom" rel="https://hearthstone.nosdn.127.net/hearthstone/706b270797e7e580dcb972340bc942adf6e1786136083aaed6fb590fe4d1bed4.png" href="javascript:void(0);" style="bottom:0;"></a></div><div class="cards_place"><a class="cards_link" data-name="军情七处的要挟" data-cardset="united-in-stormwind" data-id="64033" data-params="rogue,64033,1,0" href="javascript:void(0);" rel="https://hearthstone.nosdn.127.net/hearthstone/b63195ea93d1af3384aa5a36860adf2326b5064b2a9d7d307d0e4f6e7a3cee2c.png"><img class="imgload" src="https://hearthstone.nosdn.127.net/3/cards/cards_loading.gif" style="display: none;"><img class="card_img" alt="军情七处的要挟" src="https://hearthstone.nosdn.127.net/hearthstone/b63195ea93d1af3384aa5a36860adf2326b5064b2a9d7d307d0e4f6e7a3cee2c.png" style="display: inline;"></a><div class="cards_detail_wraper"><div class="cards_detail"><h4 class="cardName">军情七处的要挟</h4><p class="cardFlavorText">“外面的世界是很危险的。要是一不小心，你的保护费到期了，那可就难办了……”</p><p class="cardText"><b>可交易</b> 对一个未受伤的角色造成 3点伤害。</p><ul class="attributesList"><li>类型：<span>法术</span></li><li>稀有度：<span>稀有</span></li><li>系列：<span>《暴风城下的集结》</span></li><li>职业：<span>潜行者</span></li><li>制作费用：<span>100 / 800 (金卡)</span></li><li>分解的价值：<span>20 / 100 (金卡)</span></li><li>画家：<span class="Artist">Cheng Hao</span></li><li>可收集</li></ul><div class="keywordsView"><p>了解更多：</p><div class="keywordsList"><a href="javascript:;" data-text="可以将此牌拖向牌库，消耗1点法力值将其洗入牌库并抽一张牌。">可交易</a></div></div></div></div><a class="cards_zoom" rel="https://hearthstone.nosdn.127.net/hearthstone/b63195ea93d1af3384aa5a36860adf2326b5064b2a9d7d307d0e4f6e7a3cee2c.png" href="javascript:void(0);" style="bottom:0;"></a></div><div class="cards_place"><a class="cards_link" data-name="冰冷智慧" data-cardset="scholomance-academy" data-id="59207" data-params=",59207,1,0" href="javascript:void(0);" rel="https://hearthstone.nosdn.127.net/hearthstone/be91431c61dbe4d0440cfd55b4a9c0ba56ed3a83e231e376db9915d47c7f0e2e.png"><img class="imgload" src="https://hearthstone.nosdn.127.net/3/cards/cards_loading.gif" style="display: none;"><img class="card_img" alt="冰冷智慧" src="https://hearthstone.nosdn.127.net/hearthstone/be91431c61dbe4d0440cfd55b4a9c0ba56ed3a83e231e376db9915d47c7f0e2e.png" style="display: inline;"></a><div class="cards_detail_wraper"><div class="cards_detail"><h4 class="cardName">冰冷智慧</h4><p class="cardFlavorText">“教授让我回答问题，我直接凉了！”</p><p class="cardText"><b>冻结</b>一个随从。<b>连击：</b>并对其造成 3点伤害。</p><ul class="attributesList"><li>类型：<span>法术</span></li><li>法术派系：<span>冰霜</span></li><li>稀有度：<span>稀有</span></li><li>系列：<span>《通灵学园》</span></li><li>职业：<span>法师 , 潜行者</span></li><li>制作费用：<span>100 / 800 (金卡)</span></li><li>分解的价值：<span>20 / 100 (金卡)</span></li><li>画家：<span class="Artist">Peter Stapleton</span></li><li>可收集</li></ul><div class="keywordsView"><p>了解更多：</p><div class="keywordsList"><a href="javascript:;" data-text="被冻结的角色失去他们的下一次攻击机会。">冻结</a><a href="javascript:;" data-text="如果在本回合中你已经使用过其他牌，它会产生额外的效果。">连击</a></div></div></div></div><a class="cards_zoom" rel="https://hearthstone.nosdn.127.net/hearthstone/be91431c61dbe4d0440cfd55b4a9c0ba56ed3a83e231e376db9915d47c7f0e2e.png" href="javascript:void(0);" style="bottom:0;"></a></div><div class="cards_place"><a class="cards_link" data-name="吹嘘海盗" data-cardset="core" data-id="69742" data-params="rogue,69742,1,0" href="javascript:void(0);" rel="https://hearthstone.nosdn.127.net/hearthstone/f3b25a8f3a186a5aeed86c0b637123d647bb534b03649c1e4f1614f6ee2c880b.png"><img class="imgload" src="https://hearthstone.nosdn.127.net/3/cards/cards_loading.gif" style="display: none;"><img class="card_img" alt="吹嘘海盗" src="https://hearthstone.nosdn.127.net/hearthstone/f3b25a8f3a186a5aeed86c0b637123d647bb534b03649c1e4f1614f6ee2c880b.png" style="display: inline;"></a><div class="cards_detail_wraper"><div class="cards_detail"><h4 class="cardName">吹嘘海盗</h4><p class="cardFlavorText">只要两杯朗姆酒，他就能吹上一整天！</p><p class="cardText"><b>战吼：</b>随机将一张另一职业的卡牌置入你的手牌。</p><ul class="attributesList"><li>类型：<span>随从</span></li><li>稀有度：<span>普通</span></li><li>系列：<span>《核心》</span></li><li>职业：<span>潜行者</span></li><li>制作费用：<span>40 / 400 (金卡)</span></li><li>分解的价值：<span>5 / 50 (金卡)</span></li><li>画家：<span class="Artist">Zoltan Boros</span></li><li>可收集</li></ul><div class="keywordsView"><p>了解更多：</p><div class="keywordsList"><a href="javascript:;" data-text="当你从你的手牌中使用它的时候，它会产生一些效果。">战吼</a></div></div></div></div><a class="cards_zoom" rel="https://hearthstone.nosdn.127.net/hearthstone/f3b25a8f3a186a5aeed86c0b637123d647bb534b03649c1e4f1614f6ee2c880b.png" href="javascript:void(0);"></a></div><div class="cards_place"><a class="cards_link" data-name="奖品掠夺者" data-cardset="madness-at-the-darkmoon-faire" data-id="61171" data-params="rogue,61171,1,0" href="javascript:void(0);" rel="https://hearthstone.nosdn.127.net/hearthstone/87c9d78341fb9c616cd37c1053f57074d6251a533c5f21a5a9a98665739fe248.png"><img class="imgload" src="https://hearthstone.nosdn.127.net/3/cards/cards_loading.gif" style="display: none;"><img class="card_img" alt="奖品掠夺者" src="https://hearthstone.nosdn.127.net/hearthstone/87c9d78341fb9c616cd37c1053f57074d6251a533c5f21a5a9a98665739fe248.png" style="display: inline;"></a><div class="cards_detail_wraper"><div class="cards_detail"><h4 class="cardName">奖品掠夺者</h4><p class="cardFlavorText">抢得到奖品，却永远也抢不回快乐的童年。</p><p class="cardText"><b>连击：</b>在本回合中，你每使用一张其他牌，便对一个随从造成1点伤害。</p><ul class="attributesList"><li>类型：<span>随从</span></li><li>稀有度：<span>稀有</span></li><li>系列：<span>《疯狂的暗月马戏团》</span></li><li>职业：<span>潜行者</span></li><li>制作费用：<span>100 / 800 (金卡)</span></li><li>分解的价值：<span>20 / 100 (金卡)</span></li><li>画家：<span class="Artist">Paul Mafayon</span></li><li>可收集</li></ul><div class="keywordsView"><p>了解更多：</p><div class="keywordsList"><a href="javascript:;" data-text="如果在本回合中你已经使用过其他牌，它会产生额外的效果。">连击</a></div></div></div></div><a class="cards_zoom" rel="https://hearthstone.nosdn.127.net/hearthstone/87c9d78341fb9c616cd37c1053f57074d6251a533c5f21a5a9a98665739fe248.png" href="javascript:void(0);"></a></div></div></div>
                            </div>
                            <p id="cards_page">第<strong data-total="10">1</strong>页</p>
                            <div class="pageList clearFix">
                                <div id="cards_search">
                                    <div class="searchWrap">
                                        <input class="searchCardInput" type="text" maxlength="12" placeholder="请输入关键字">
                                        <a href="javascript:void(0);" class="clearBtn"></a>
                                    </div>
                                </div>
                                <div id="cards_filter">
                                    <ul class="cards_option clearFix" rel="cost" style="display:block;">
                                        <li class="mode">
                                            <a href="javascript:void(0);">
                                                <span class="mode_icon mode_standard" data-mode="1" style="background-position-y : -1188px!important;"></span>
                                                <div class="mode_select_wrap">
                                                    <div class="mode_select_content mCustomScrollbar _mCS_1"><div class="mCustomScrollBox mCS-light" id="mCSB_1" style="position:relative; height:100%; overflow:hidden; max-width:100%;"><div class="mCSB_container" style="position:relative; top:0;">
                                                        <ul class="mode_static">
                                                            <li class="active" data-icon-style="background-position-y : -1188px!important;" data-type="standard" rel="1">
                                                                <i></i>
                                                                <div>
                                                                    标准卡牌
                                                                </div>
                                                            </li>
                                                            <li rel="0" data-type="violent" data-icon-style="background-position-y : -1262px!important;" style="display: none;">
                                                                <i>
                                                                </i>
                                                                <div>
                                                                    狂野卡牌
                                                                </div>
                                                            </li>
                                                            <li rel="2" data-type="classic" data-icon-style="background-position-y : -2117px!important;" style="display: none;">
                                                                <i>
                                                                </i>
                                                                <div>
                                                                    经典卡牌
                                                                </div>
                                                            </li>
                                                            <li data-type="arena" data-url="/gameguide/cards/?cardset=arena" style="display: none;">
                                                                <i>
                                                                </i>
                                                                <div>
                                                                    当前竞技模式卡牌
                                                                </div>
                                                            </li>
                                                            <li data-type="duels" data-url="/gameguide/cards/?cardset=duels" style="display: none;">
                                                                <i>
                                                                </i>
                                                                <div>
                                                                    当前对决模式卡牌
                                                                </div>
                                                            </li>
                                                        </ul>
                                                        <div class="mode_dynamic mode_with_title  mode_dynamic_type_standard">
                                                            <i class="icon_bg">

                                                            </i>
                                                            <i class="icon_text">

                                                            </i>
                                                            <ul class="">
                                                            <li data-slug="united-in-stormwind" data-icon-style="background-position-y: -2347.52px!important;" rel="1"><i style="background-position-y : -2355px!important;"></i><div>暴风城下的集结</div></li><li data-slug="forged-in-the-barrens" data-icon-style="background-position-y: -2040.58px!important;" rel="1"><i style="background-position-y : -2047px!important;"></i><div>贫瘠之地</div></li><li data-slug="madness-at-the-darkmoon-faire" data-icon-style="background-position-y: -1968.345px!important;" rel="1"><i style="background-position-y : -1975.5px!important;"></i><div>暗月马戏团</div></li><li data-slug="scholomance-academy" data-icon-style="background-position-y: -1752.6399999999999px!important;" rel="1"><i style="background-position-y : -1759px!important;"></i><div>通灵学园</div></li><li data-slug="ashes-of-outland" data-icon-style="background-position-y: -1620.17px!important;" rel="1"><i style="background-position-y : -1626px!important;"></i><div>外域</div></li><li data-slug="core" data-icon-style="background-position-y: -2193.05px!important;" rel="1"><i style="background-position-y : -2201px!important;"></i><div>核心</div></li></ul>
                                                        </div>
                                                        <div class="mode_dynamic mode_with_title mode_dynamic_type_violent" style="display: none;">
                                                            <i class="icon_bg">

                                                            </i>
                                                            <i class="icon_text">

                                                            </i>
                                                            <ul class="">
                                                            <li data-slug="demonhunter-initiate" data-icon-style="background-position-y: -1686.405px!important;" rel="0"><i style="background-position-y : -1692.5px!important;"></i><div>新兵</div></li><li data-slug="galakronds-awakening" data-icon-style="background-position-y: -1554.935px!important;" rel="0"><i style="background-position-y : -1560.5px!important;"></i><div>迦拉克隆的觉醒</div></li><li data-slug="descent-of-dragons" data-icon-style="background-position-y: -1484.7px!important;" rel="0"><i style="background-position-y : -1490px!important;"></i><div>巨龙降临</div></li><li data-slug="saviors-of-uldum" data-icon-style="background-position-y: -1410.465px!important;" rel="0"><i style="background-position-y : -1415.5px!important;"></i><div>奥丹姆</div></li><li data-slug="rise-of-shadows" data-icon-style="background-position-y: -370.175px!important;" rel="0"><i style="background-position-y : -376.5px!important;"></i><div>暗影崛起</div></li><li data-slug="rastakhans-rumble" data-icon-style="background-position-y: -444.40999999999997px!important;" rel="0"><i style="background-position-y : -452px!important;"></i><div>大乱斗</div></li><li data-slug="boomsday-project" data-icon-style="background-position-y: -220.70499999999998px!important;" rel="0"><i style="background-position-y : -228.5px!important;"></i><div>砰砰计划</div></li><li data-slug="the-witchwood" data-icon-style="background-position-y: -294.94px!important;" rel="0"><i style="background-position-y : -303px!important;"></i><div>女巫森林</div></li><li data-slug="kobolds-catacombs" data-icon-style="background-position-y: 0px!important;" rel="0"><i style="background-position-y : -5px!important;"></i><div>狗头人</div></li><li data-slug="kotf" data-icon-style="background-position-y: -146.47px!important;" rel="0"><i style="background-position-y : -154px!important;"></i><div>冰封王座</div></li><li data-slug="ungoro" data-icon-style="background-position-y: -517.645px!important;" rel="0"><i style="background-position-y : -526.5px!important;"></i><div>安戈洛</div></li><li data-slug="msog" data-icon-style="background-position-y: -592.88px!important;" rel="0"><i style="background-position-y : -601px!important;"></i><div>加基森</div></li><li data-slug="karazhan" data-icon-style="background-position-y: -72.235px!important;" rel="0"><i style="background-position-y : -79.5px!important;"></i><div>卡拉赞</div></li><li data-slug="wotog" data-icon-style="background-position-y: -667.115px!important;" rel="0"><i style="background-position-y : -675.5px!important;"></i><div>上古之神</div></li><li data-slug="loe" data-icon-style="background-position-y: -889.8199999999999px!important;" rel="0"><i style="background-position-y : -899px!important;"></i><div>探险者协会</div></li><li data-slug="tgt" data-icon-style="background-position-y: -964.055px!important;" rel="0"><i style="background-position-y : -973.5px!important;"></i><div>冠军的试炼</div></li><li data-slug="brm" data-icon-style="background-position-y: -1336.23px!important;" rel="0"><i style="background-position-y : -1349px!important;"></i><div>黑石山的火焰</div></li><li data-slug="gvg" data-icon-style="background-position-y: -1039.29px!important;" rel="0"><i style="background-position-y : -1048px!important;"></i><div>地精大战侏儒</div></li><li data-slug="naxx" data-icon-style="background-position-y: -1112.525px!important;" rel="0"><i style="background-position-y : -1122.5px!important;"></i><div>纳克萨玛斯</div></li><li data-slug="legacy" data-icon-style="background-position-y: -2271.285px!important;" rel="0"><i style="background-position-y : -2277.5px!important;"></i><div>怀旧</div></li></ul>
                                                        </div>
                                                    </div><div class="mCSB_scrollTools" style="position: absolute; display: block;"><div class="mCSB_draggerContainer"><div class="mCSB_dragger" style="position: absolute; top: 0px;" oncontextmenu="return false;"><div class="mCSB_dragger_bar" style="position:relative;"></div></div><div class="mCSB_draggerRail"></div></div></div></div></div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="all"><a href="javascript:void(0);" rel=""><span class="type_icon type_cost"></span><span class="type_all">所有</span></a></li>
                                        <li><a class="type_icon type_cost" href="javascript:void(0);" rel="0"><span class="cost_num cost_num_0"></span></a></li>
                                        <li><a class="type_icon type_cost" href="javascript:void(0);" rel="1"><span class="cost_num cost_num_1"></span></a></li>
                                        <li><a class="type_icon type_cost" href="javascript:void(0);" rel="2"><span class="cost_num cost_num_2"></span></a></li>
                                        <li><a class="type_icon type_cost" href="javascript:void(0);" rel="3"><span class="cost_num cost_num_3"></span></a></li>
                                        <li><a class="type_icon type_cost" href="javascript:void(0);" rel="4"><span class="cost_num cost_num_4"></span></a></li>
                                        <li><a class="type_icon type_cost" href="javascript:void(0);" rel="5"><span class="cost_num cost_num_5"></span></a></li>
                                        <li><a class="type_icon type_cost" href="javascript:void(0);" rel="6"><span class="cost_num cost_num_6"></span></a></li>
                                        <li class="over"><a class="type_icon type_cost type_7_cost" href="javascript:void(0);" rel="7"><span class="cost_num cost_num_7"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <a class="cards_prev" href="javascript:void(0);" style="display: none;"></a>
                            <a class="cards_next" href="javascript:void(0);"></a>
                        </div>
                        <div id="cards_builder">
                            <div id="cards_cost" style="display: none;">
                                <ul class="clearFix">
                                    <li class="cost_0"><span class="line"><span class="num">0</span></span>
                                </li>
                                <li class="cost_1"><span class="line"><span class="num">0</span></span>
                            </li>
                            <li class="cost_2"><span class="line"><span class="num">0</span></span>
                        </li>
                        <li class="cost_3"><span class="line"><span class="num">0</span></span>
                    </li>
                    <li class="cost_4"><span class="line"><span class="num">0</span></span>
                </li>
                <li class="cost_5"><span class="line"><span class="num">0</span></span>
            </li>
            <li class="cost_6"><span class="line"><span class="num">0</span></span>
        </li>
        <li class="cost_7"><span class="line"><span class="num">0</span></span>
    </li>
</ul>
</div>
<div class="cards_uid">
<input type="text" value="请输入ID查找套牌" maxlength="10">
<a class="thumb_draw" href="javascript:void(0);"></a>
</div>
<a class="newCards btn_yellow_bg" href="javascript:void(0);" style="display: none;">新套牌</a>
<a class="btn_yellow_bg inputCode" href="javascript:void(0);" style="display: none;">导入游戏内代码</a>
<ul id="cards_group" style="display: block;"><li><a class="group_rogue" href="javascript:void(0);"><span class="name">自定义套牌</span><span class="thumb_draw group_standard"></span><span class="thumb_draw group_close"></span></a></li></ul>
<div id="cards_selected"><div class="cards_list_wrap"><ul id="cards_list"></ul></div></div>
<div class="cards_save">
<p class="cards_num"><strong>0</strong>/30卡牌</p>
<a id="cards_finish" class="cards_btn cards_btn_disabled" href="javascript:void(0);">保存</a>
</div>
<div id="saveCon">
<p class="top"></p>
<div class="saveDetail">
<div class="saveConWrap">
<ul>
    <li class="clearFix"><span class="title font_yellow">套牌名称：</span><span class="deckName"></span></li>
    <li class="clearFix"><span class="title font_yellow">套牌描述：</span><span class="description"></span></li>
</ul>
<div class="webUrl">
    <h4 class="font_yellow">网页地址：</h4>
    <p>
        <input id="webUrl" value=""><a href="javascript:void(0);" class="copy-weburl font_yellow" data-clipboard-text="">复制地址</a></p>
    </div>
    <div class="gameCode">
        <h4 class="font_yellow"> 游戏内代码：</h4>
        <p>
            <input id="gameCode" value=""><a href="javascript:void(0);" class="copy-gamecode font_yellow" data-clipboard-text="">复制代码</a></p>
        </div>
        <p class="border_db"></p>
        <p class="font_yellow_dark">创建时间：<span class="createTime"></span></p>
    </div>
</div>
<p class="bottom"></p>
<a href="javascript:;" class="closeBtn">关闭</a>
</div>
</div>
</div>
</div>
<div class="myCardWrap">
<h3 class="myCardTitle">我的套牌库</h3>
<div class="myCardFilter clearFix">
<div class="filterMode" data-cardmodel="">
<h4 class="filterTitle">模式：</h4>
<ul>
<li><a href="javascript:void(0);" class="filter_mode_icon mode_wild_icon" title="狂野模式" rel="wild"></a></li>
<li><a href="javascript:void(0);" class="filter_mode_icon mode_standard_icon" title="标准模式" rel="standard"></a></li>
<li><a href="javascript:void(0);" class="filter_mode_icon mode_classic_icon" title="经典模式" rel="classic"></a></li>
</ul>
</div>
<div class="filterClass" data-clazz="">
<h4 class="filterTitle">职业：</h4>
<ul class="clearFix">
<li><a href="javascript:void(0);" class="class_icon class_druid" title="德鲁伊" rel="druid"></a></li>
<li><a href="javascript:void(0);" class="class_icon class_hunter" title="猎人" rel="hunter"></a></li>
<li><a href="javascript:void(0);" class="class_icon class_mage" title="法师" rel="mage"></a></li>
<li><a href="javascript:void(0);" class="class_icon class_paladin" title="圣骑士" rel="paladin"></a></li>
<li><a href="javascript:void(0);" class="class_icon class_priest" title="牧师" rel="priest"></a></li>
<li><a href="javascript:void(0);" class="class_icon class_rogue" title="潜行者" rel="rogue"></a></li>
<li><a href="javascript:void(0);" class="class_icon class_shaman" title="萨满" rel="shaman"></a></li>
<li><a href="javascript:void(0);" class="class_icon class_warlock" title="术士" rel="warlock"></a></li>
<li><a href="javascript:void(0);" class="class_icon class_warrior" title="战士" rel="warrior"></a></li>
<li><a href="javascript:void(0);" class="class_icon class_demonhunter" title="恶魔猎手" rel="demonhunter"></a></li>
</ul>
</div>
</div>
<div class="myCardListWrap">
<div class="myCardHeader clearFix">
<div class="col myCardId">套牌ID</div>
<div class="col myCardMode">模式</div>
<div class="col myCardClass">职业</div>
<div class="col myCardName">套牌名称</div>
<div class="col myCardDate">创建时间</div>
<div class="col myCardCopy">复制代码<a href="javascript:void(0);" class="faqIcon"><span class="codeTips">点击复制，在游戏中打开“我的收藏”，并点击“新套牌”进行粘贴</span></a></div>
<div class="col myCardDel">删除</div>
<div class="col myCardShare">分享</div>
</div>
<ul class="myCardList">
<div class="showLogin"><a href="https://account.blizzard.cn/battlenet/login?inner_client_id=hs&amp;inner_redirect_uri=https%3A%2F%2Fhs.blizzard.cn%2Fbattlenet%2Flogin%3Fredirect_url%3Dhttps%253A%252F%252Fhs.blizzard.cn%252Fcards" class="showLoginBtn">登录</a>查看我的套牌库</div>
</ul>
<a href="javascript:void(0);" class="showMore" data-page="2">加载更多</a>
</div>
</div>
</div> -->
<!-- wraperConArea -->
</div>
<!-- wraperCon -->
<div class="wraperConBot"></div>
</div>
<!-- container -->
</div>
<!-- <div class="float_layer" id="layer_wh2_twa01_grn_cha_goblin_great_shaman_3" style="display: none; left: 54px; top: 1930px;">
<div class="float_layer_bg"></div>
<div class="float_layer_text">
<big><b>Goblin Great Shaman (Arachnarok Spider (Catchweb Spidershrine))</b></big><br>(wh2_twa01_grn_cha_goblin_great_shaman_3)<br>Command
</div>
</div>
        <div class="rome2_unit_icon_crop">
<span class="unit_text">1</span>
<span class="unit_bottom_text"><img src="images/warhammer2/common_ui/unit_category_icons/infantry_sword.png"></span>
<a href="unit.php?l=en&amp;v=warhammer2&amp;f=wh2_dlc15_grn_bonerattlaz&amp;u=wh_dlc06_grn_cha_night_goblin_warboss_0"><img src="gen_images/unit_icon/warhammer2/wh2_dlc15_grn_bonerattlaz/wh_dlc06_grn_cha_night_goblin_warboss_0.png" alt="Night Goblin Warboss" border="0" width="60" height="130" onmousemove="ShowDescr('#layer_wh_dlc06_grn_cha_night_goblin_warboss_0')" onmouseout="HideDescr()"></a>
</div>
<div class="float_layer" id="layer_wh_dlc06_grn_cha_night_goblin_warboss_0" style="display: none; left: 87px; top: 1987px;">
<div class="float_layer_bg"></div>
<div class="float_layer_text">
<big><b>Night Goblin Warboss</b></big><br>(wh_dlc06_grn_cha_night_goblin_warboss_0)<br>Command
</div>
</div>
        <div class="rome2_unit_icon_crop">
<span class="unit_text">1</span>
<span class="unit_bottom_text"><img src="images/warhammer2/common_ui/unit_category_icons/cavalry_wolf.png"></span>
<a href="unit.php?l=en&amp;v=warhammer2&amp;f=wh2_dlc15_grn_bonerattlaz&amp;u=wh_dlc06_grn_cha_night_goblin_warboss_1"><img src="gen_images/unit_icon/warhammer2/wh2_dlc15_grn_bonerattlaz/wh_dlc06_grn_cha_night_goblin_warboss_1.png" alt="Night Goblin Warboss (Great Cave Squig)" border="0" width="60" height="130" onmousemove="ShowDescr('#layer_wh_dlc06_grn_cha_night_goblin_warboss_1')" onmouseout="HideDescr()"></a>
</div>
<div class="float_layer" id="layer_wh_dlc06_grn_cha_night_goblin_warboss_1" style="display: none; left: 193px; top: 1992px;">
<div class="float_layer_bg"></div>
<div class="float_layer_text">
<big><b>Night Goblin Warboss (Great Cave Squig)</b></big><br>(wh_dlc06_grn_cha_night_goblin_warboss_1)<br>Command
</div>
</div>
        <div class="rome2_unit_icon_crop">
<span class="unit_text">1</span>
<span class="unit_bottom_text"><img src="images/warhammer2/common_ui/unit_category_icons/wh_main_lore_death.png"></span>
<a href="unit.php?l=en&amp;v=warhammer2&amp;f=wh2_dlc15_grn_bonerattlaz&amp;u=wh_main_grn_cha_azhag_the_slaughterer_0"><img src="gen_images/unit_icon/warhammer2/wh2_dlc15_grn_bonerattlaz/wh_main_grn_cha_azhag_the_slaughterer_0.png" alt="Azhag the Slaughterer" border="0" width="60" height="130" onmousemove="ShowDescr('#layer_wh_main_grn_cha_azhag_the_slaughterer_0')" onmouseout="HideDescr()"></a>
</div>
<div class="float_layer" id="layer_wh_main_grn_cha_azhag_the_slaughterer_0" style="display: none; left: 263px; top: 2001px;">
<div class="float_layer_bg"></div>
<div class="float_layer_text">
<big><b>Azhag the Slaughterer</b></big><br>(wh_main_grn_cha_azhag_the_slaughterer_0)<br>Command
</div>
</div>
        <div class="rome2_unit_icon_crop">
<span class="unit_text">1</span>
<span class="unit_bottom_text"><img src="images/warhammer2/common_ui/unit_category_icons/wh_main_lore_death.png"></span>
<a href="unit.php?l=en&amp;v=warhammer2&amp;f=wh2_dlc15_grn_bonerattlaz&amp;u=wh_main_grn_cha_azhag_the_slaughterer_1"><img src="gen_images/unit_icon/warhammer2/wh2_dlc15_grn_bonerattlaz/wh_main_grn_cha_azhag_the_slaughterer_1.png" alt="Azhag the Slaughterer (Skullmuncha)" border="0" width="60" height="130" onmousemove="ShowDescr('#layer_wh_main_grn_cha_azhag_the_slaughterer_1')" onmouseout="HideDescr()"></a>
</div>
<div class="float_layer" id="layer_wh_main_grn_cha_azhag_the_slaughterer_1" style="display: none; left: 236px; top: 2006px;">
<div class="float_layer_bg"></div>
<div class="float_layer_text">
<big><b>Azhag the Slaughterer (Skullmuncha)</b></big><br>(wh_main_grn_cha_azhag_the_slaughterer_1)<br>Command
</div>
</div>
        <div class="rome2_unit_icon_crop">
<span class="unit_text">1</span>
<span class="unit_bottom_text"><img src="images/warhammer2/common_ui/unit_category_icons/wh_main_lore_lil_waaagh.png"></span>
<a href="unit.php?l=en&amp;v=warhammer2&amp;f=wh2_dlc15_grn_bonerattlaz&amp;u=wh_main_grn_cha_goblin_great_shaman_0"><img src="gen_images/unit_icon/warhammer2/wh2_dlc15_grn_bonerattlaz/wh_main_grn_cha_goblin_great_shaman_0.png" alt="Goblin Great Shaman" border="0" width="60" height="130" onmousemove="ShowDescr('#layer_wh_main_grn_cha_goblin_great_shaman_0')" onmouseout="HideDescr()"></a>
</div>
<div class="float_layer" id="layer_wh_main_grn_cha_goblin_great_shaman_0" style="display: none; left: 230px; top: 1923px;">
<div class="float_layer_bg"></div>
<div class="float_layer_text">
<big><b>Goblin Great Shaman</b></big><br>(wh_main_grn_cha_goblin_great_shaman_0)<br>Command
</div>
</div>
        <div class="rome2_unit_icon_crop">
<span class="unit_text">1</span>
<span class="unit_bottom_text"><img src="images/warhammer2/common_ui/unit_category_icons/wh_main_lore_lil_waaagh.png"></span>
<a href="unit.php?l=en&amp;v=warhammer2&amp;f=wh2_dlc15_grn_bonerattlaz&amp;u=wh_main_grn_cha_goblin_great_shaman_1"><img src="gen_images/unit_icon/warhammer2/wh2_dlc15_grn_bonerattlaz/wh_main_grn_cha_goblin_great_shaman_1.png" alt="Goblin Great Shaman (Giant Wolf)" border="0" width="60" height="130" onmousemove="ShowDescr('#layer_wh_main_grn_cha_goblin_great_shaman_1')" onmouseout="HideDescr()"></a>
</div>
<div class="float_layer" id="layer_wh_main_grn_cha_goblin_great_shaman_1" style="display: none; left: 230px; top: 1929px;">
<div class="float_layer_bg"></div>
<div class="float_layer_text">
<big><b>Goblin Great Shaman (Giant Wolf)</b></big><br>(wh_main_grn_cha_goblin_great_shaman_1)<br>Command
</div>
</div>
        <div class="rome2_unit_icon_crop">
<span class="unit_text">1</span>
<span class="unit_bottom_text"><img src="images/warhammer2/common_ui/unit_category_icons/infantry_sword.png"></span>
<a href="unit.php?l=en&amp;v=warhammer2&amp;f=wh2_dlc15_grn_bonerattlaz&amp;u=wh_main_grn_cha_orc_warboss_0"><img src="gen_images/unit_icon/warhammer2/wh2_dlc15_grn_bonerattlaz/wh_main_grn_cha_orc_warboss_0.png" alt="Orc Warboss" border="0" width="60" height="130" onmousemove="ShowDescr('#layer_wh_main_grn_cha_orc_warboss_0')" onmouseout="HideDescr()"></a>
</div>
<div class="float_layer" id="layer_wh_main_grn_cha_orc_warboss_0" style="display: none; left: 233px; top: 1933px;">
<div class="float_layer_bg"></div>
<div class="float_layer_text">
<big><b>Orc Warboss</b></big><br>(wh_main_grn_cha_orc_warboss_0)<br>Command
</div>
</div>
        <div class="rome2_unit_icon_crop">
<span class="unit_text">1</span>
<span class="unit_bottom_text"><img src="images/warhammer2/common_ui/unit_category_icons/dragon.png"></span>
<a href="unit.php?l=en&amp;v=warhammer2&amp;f=wh2_dlc15_grn_bonerattlaz&amp;u=wh_main_grn_cha_orc_warboss_1"><img src="gen_images/unit_icon/warhammer2/wh2_dlc15_grn_bonerattlaz/wh_main_grn_cha_orc_warboss_1.png" alt="Orc Warboss (Wyvern)" border="0" width="60" height="130" onmousemove="ShowDescr('#layer_wh_main_grn_cha_orc_warboss_1')" onmouseout="HideDescr()"></a>
</div>
<div class="float_layer" id="layer_wh_main_grn_cha_orc_warboss_1" style="display: none; left: 264px; top: 1954px;">
<div class="float_layer_bg"></div>
<div class="float_layer_text">
<big><b>Orc Warboss (Wyvern)</b></big><br>(wh_main_grn_cha_orc_warboss_1)<br>Command
</div>
</div>
        <div class="rome2_unit_icon_crop">
<span class="unit_text">1</span>
<span class="unit_bottom_text"><img src="images/warhammer2/common_ui/unit_category_icons/cavalry.png"></span>
<a href="unit.php?l=en&amp;v=warhammer2&amp;f=wh2_dlc15_grn_bonerattlaz&amp;u=wh_main_grn_cha_orc_warboss_2"><img src="gen_images/unit_icon/warhammer2/wh2_dlc15_grn_bonerattlaz/wh_main_grn_cha_orc_warboss_2.png" alt="Orc Warboss (War Boar)" border="0" width="60" height="130" onmousemove="ShowDescr('#layer_wh_main_grn_cha_orc_warboss_2')" onmouseout="HideDescr()"></a>
</div>
<div class="float_layer" id="layer_wh_main_grn_cha_orc_warboss_2" style="display: none; left: 133px; top: 2149px;">
<div class="float_layer_bg"></div>
<div class="float_layer_text">
<big><b>Orc Warboss (War Boar)</b></big><br>(wh_main_grn_cha_orc_warboss_2)<br>Command
</div>
</div>-->
</td> 
</div>